site_name: Scraping Coto Documentation
site_description: Documentation for the Scraping Coto data pipeline project

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.snippets
  - admonition
  - tables
  - toc:
      permalink: true

hooks:
  - docs/setup.py

plugins:
  - search
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true
            show_category_heading: true
            members_order: source
            heading_level: 2
            show_signature_annotations: true
            separate_signature: true

nav:
  - Home: index.md
  - Code Reference: reference/
